:root {
    margin: 0;
    color: rgba(245, 245, 245, 0.644);
    background-color: #452c54 !important;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

::-webkit-scrollbar {
    display: none;
}

.uk-accordion-title {
    color: rgba(245, 245, 245, 0.644);
}

.main-title {
    color: rgba(245, 245, 245, 0.76);
}

.note-name {
    color: rgba(245, 245, 245, 0.76) !important;
    font-size: 18px !important;
    text-transform: none !important;
}

.note-options {
    margin-bottom: 1em;
}


#intro {
    margin-bottom: 3em;
}

#content {
    /* background-color: #452c54; */
    height: 100vh;
    width: 100vw;
    position: absolute;

    align-content: center;
}

#quirkyImage {
    float: right;
}

@media (min-width:946px) {
    @media (max-width:1264px) {
        #quirkyImage {
            display: none;
        }
    }
}

@media (max-width:455px) {
    #quirkyImage {
        display: none;
    }
}

.container {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    
    padding-top: 10%;
}

@media (max-width:720px) {
    .container {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

.uk-input {
    background-color: unset !important;
    color: rgba(245, 245, 245, 0.644) !important;
}

#githubIcon {
    width: 30px;
    position: absolute;
    left: 30px;
    top: 30px;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

#githubIcon:hover {
    width: 35px;
    left: 27.5px;
    top: 27.5px;
}

.pdf-container {
    margin-left: 10%;
}

.classes-list {
    margin-top: 0;
}

.right {
    float: right;
}

.notes-list {
    list-style: none;
}

.note-item {
    font-weight: 900;
    margin-bottom: 2em;
}

li.download-link {
    margin-right: 1em;
    display: inline;
}

.download-link-list {
    padding-left: 0;
    margin-top: 5px;
    margin-bottom: 1em;
}

li.download-link a {
    color: inherit;
    text-decoration: none;
}

.class-item {
    margin-bottom: 1em;
    list-style: none;
    position: relative;
    width: fit-content;
    transition: all 0.1s ease-in;
}

.selected-class-item {
    background-color: #ffb7b7;
    color: black !important;
}

.clickable:hover {
    color: rgba(245, 245, 245, 0.801);
    cursor: pointer;
    text-decoration: underline;
}

.divider {
    border: 1px solid rgba(245, 245, 245, 0.295);
}

::selection {
    background: #ffb7b7; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #ffb7b7; /* Gecko Browsers */
}
